// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom colors
$customRed: #FF5B64;
$customGreen: #4CCF6F;
$customBlue: #0881D1;
$customYellow: #E6E367;
$customLightGray: #CFCFCF;
$customGray: gray;
$customBrown: #F5B000;
$light: #E3E3E3;
